html {
  /*min-height: 100vh;*/
  height: 100%;
  /* debug */
  background-color: coral;
}

body {
  height: 100%;
  background-color: #202020;
  color: white;
  /* avoid the margin appearing on margin-collapse. */
  margin: 0px;
  /*  */
  display: flex;
  flex-direction: column;
  /* debug */
  /*border: 1px solid red;*/
}

#content {
  /* stretch content vertically as much as possible. */
  flex: 1;
  /* debug */
  /*border: 1px solid yellow;*/
}

#banner {
  /* shrink the div to fit content */
  display:inline-block;
  /* center element inside container (could use flex as well) */
  position: relative;
  /* This will position the top left corner at the center of the page */
  top: 50%;
  left: 50%;
  /* This will offset the top left corner so the object is properly centered */
  transform: translate(-50%, -50%);
  /* debug */
  /*border: 1px solid white;*/
}

#flex-container {
  display: flex;
  /* debug */
  /*border: 1px solid white;*/
}

#logo {
  font-size: 150px;
  padding: 10px;
  /* Declare a flex container to easily center content inside it. */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* debug */
  /*border: 2px solid red;*/
}

#info {
  width: 520px;
  font-size: 30px;
  padding: 10px;
  padding-left: 100px;
  /* debug */
  /*border: 2px solid green;*/
}

#footer {
  padding-bottom: 100px;
  font-size: 22px;
  /* debug */
  /*border: 1px solid blue;*/
}